<section class="container">
  <form class="formulario" (ngSubmit)="transferir()">
    <h2 class="formulario__titulo"> Nova Transferência</h2>

    <div class="form-field">
      <label class="form-field__label" for="valor">Valor</label>
      <input class="form-field__input" id="valor" type="number" [(ngModel)]="valor" name="valor">
    </div>

    <div class="form-field">
      <label class="form-field__label" for="destino">Destino</label>
      <input class="form-field__input" id="destino" type="text"  [(ngModel)]="destino" name="destino">
    </div>

    <div class="botao-wrapper">
      <button class="botao">Transferir</button>
    </div>
  </form>
</section>
